* {
    box-sizing: border-box;
}
body {
    background-color:aliceblue;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}
main,
header,
footer {
    .container {
        max-width: 1440px;
        margin: 0 auto;
    }
}
.header-image {
    display: block;
    margin: 20 px;
    border-radius: 50%;
    width: 20%;
    height: auto;
}

code {
    background-color:lightsteelblue;
    border-left: 0px;
}

footer {
    display: flexbox;
    justify-content: right;
    align-items: center;
}
footer-logo {
    margin: 10px;
    width: 50%;
    height: auto;
}
